:root { 
--cyan_A400:#0feffd; 
--gray_700:#636366; 
--gray_400:#aeaeb2; 
--gray_401:#c4c4c4; 
--gray_901:#1d1d1d; 
--gray_902:#262626; 
--gray_900_66:#1e1e1e66; 
--gray_900:#1c1c1c; 
--black_900_3f:#0000003f; 
--black_900_b7:#000000b7; 
--black_900_1e:#0000001e; 
--bluegray_900:#23283d; 
--white_A700_33:#ffffff33; 
--black_900_00:#00000000; 
--white_A700_26:#ffffff26; 
--pink_A400:#e10755; 
--gray_900_7f:#1d1d1d7f; 
--black_900_28:#00000028; 
--purple_A200:#ca35f7; 
--white_A700:#ffffff; 
--bluegray_901:#333333; 
}